* {
	padding: 0;
	margin: 0;

}


body {
	/*background-color: lightslategray;*/
	background-image: url(../Materials/Images/fon.jpg);
	background-size: 80%;
	background-attachment: fixed;
}


header{
	/*background-color: green;*/
	background-color: lightslategray;
}


#title {
	padding-top: 10px;
	margin: 0px 5px 2px 5px;

	/*background-color: red;*/
}
.discription {
	margin: 2px 5px 2px 5px;
}
nav {
	/*background-color: cyan;*/
	border-bottom: 2px solid black;
	border-top: 2px solid black;
}
.nav_href {
	/*background-color: magenta;*/
	color: black;
	padding: 2px 5px;
	text-decoration: none;
}
.nav_href:hover {
	/*background-color: magenta;*/
	color: white;
	padding: 2px 5px;
}


.site_aside {
	/*background-color: orange;*/
}
.adv_block {
	background-color: lightslategray;
	margin: 7px;
	border-radius: 10px;
}
.adv_block img {
	width: 100%;
	border-radius: 10px;
}
.advText {
	padding: 5px;
}



.content {
	/*background-color: green;*/
	display: grid;
	padding: 10px;
	grid-template-columns: repeat(4, 1fr);
}
#container1 {
	grid-column: 1/4;
	/*background-color: lightcoral;*/
}
#container2 {
	/*background-color: lightseagreen;*/
}
section {
	background-color: white;
	border-radius: 10px;
	margin: 5px 10px 5px 10px;
	padding: 10px;
}


footer {
	background-color: lightslategray;
	margin-top: 10px;
	min-height: 150px;
}
.footer_content {
	border-top: 2px solid black;
	padding: 2px 5px 2px 5px;
	background-color: inherit;
}
.footerDescriptiption {
	margin-top: 10px;
}
